.img-dashkit {
    -webkit-transform: rotateY(-35deg) rotateX(15deg);
transform: rotateY(-35deg) rotateX(15deg);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
border-radius: .625rem;
box-shadow: 25px 60px 125px -25px rgba(80,102,144,.1),16px 40px 75px -40px rgba(0,0,0,.2);
}
.img-dash {
    -webkit-perspective-origin: left center;
perspective-origin: left center;
-webkit-perspective: 1500px;
perspective: 1500px;
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
}
.border {
    border-bottom-left-radius: 50% 3%;
    border-bottom-right-radius: 50% 3%;
}
.border-2 {
    border-bottom-right-radius: 35% 80%;
    border-top-right-radius: 1% 20%;
}
.border-3 {
    border-bottom-right-radius: 100% 65%;
}
.border-4 {
    border-bottom-right-radius: 50% 3%;
    border-bottom-left-radius: 50% 3%;
}
.shadow {
    box-shadow: 0 1.5rem 4rem rgba(22,28,45,.05) !important;
}
.arrow-left {
    position: relative;
    left: -639px;
    top: 85px;
}
.arrow-right {
    position: relative;
    right: -401px;
    top: 85px;
}

